{% extends 'GaldermaContestBundle::admin_layout.html.twig' %}
{% set main_active_page = "winners" %}
{% set config_navigation_bar = [['school', 'galderma_contest_admin_school', 'Schools'], ['skin type', 'galderma_contest_admin_skintype', 'Skin Types'], ['skin condition', 'galderma_contest_admin_skincondition', 'Skin Conditions']] %}
{% set config_active_page = config_active_page|default('index') %}

{% block title %}Admin{% endblock %}
{% block sectitle %}Email preview{% endblock %}
{% block content %}
<div class="row-fluid content">

    {% if preview %}
        <div class="email-preview-container span-12 hero-unit">
            <iframe srcdoc='{% if format == "text/plain" %}<pre>{% endif %}{{ preview }}{% if format == "text/plain" %}</pre>{% endif %}' style="width:100%;height:800px;background-color:white!important;" onload='javascript:resizeIframe(this);'></iframe>
        </div>
    {% endif %}

    {% if actions %}
        <div class="email-actions span-12">
        {% for action in actions %}
            <a href="{{ action['link'] }}" class="{{ action['class'] }}">{{ action['text'] }}</a>
        {% endfor %}
        </div>
    {% endif %}

 </div>
{% endblock %}