{% if entrant is not null %}
    Dear {{ entrant.firstName }},
    Congratulations! You are our lucky winner for {{ date }}

    You must correctly answer the following skill-testing question and return this email within 15 days in order to receive your prize:

    {{ question }} = ?

    Your product gift set will be shipped to you by Purolator. Please reply to this email with your mailing address and phone number. Upon confirmation, an email will be provided to you with your Purolator tracking number.
    Connect with Cetaphil for product information, skin care tips, and more!

    Facebook: http://www.facebook.com/cetaphil.ca
    Twitter: http://www.twitter.com/cetaphil_ca
    Cetaphil: http://www.cetaphil.ca

    Prize must be accepted as awarded and may not be transferred or exchanged. Sponsor reserves the right to substitute a prize of at least equal value in the event of the unavailability, for whatever reason, of the advertised prize.
    Please see Sponsor’sPrivacy Policy (http://www.cetaphil.ca/en/privacy) for information on its policy towards maintaining the privacy and security of user information.

    Contest sponsored by:
        Galderma Canada Inc.
        105 Commerce Valley Drive West, Suite 300
        Thornhill ON L3T 7W3 Canada
{% endif %}