{% set asseturl = "http://emails.cetaphil.ca/UniversityContest" %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="{{ title }}" />


    <title>{{ title }}</title>
    <style type="text/css">
        #outlook a{padding:0}
        body{width:100%!important;-webkit-text-size-adjust:none;margin:0;padding:0}
        img{border:0;height:auto;line-height:100%;outline:none;text-decoration:none}
        table td{border-collapse:collapse}
        #backgroundTable{height:100%!important;width:100%!important;margin:0;padding:0}
        #templateContainer{border:1px solid #DDDDDD}
        h1,.h1{color:#202020;display:block;font-family:Arial;font-size:34px;font-weight:bold;line-height:100%;text-align:left;margin:0 0 10px}
        h2,.h2{color:#202020;display:block;font-family:Arial;font-size:30px;font-weight:bold;line-height:100%;text-align:left;margin:0 0 10px}
        h3,.h3{color:#202020;display:block;font-family:Arial;font-size:26px;font-weight:bold;line-height:100%;text-align:left;margin:0 0 10px}
        h4,.h4{color:#202020;display:block;font-family:Arial;font-size:22px;font-weight:bold;line-height:100%;text-align:left;margin:0 0 10px}
        .preheaderContent div{color:#505050;font-family:Arial;font-size:10px;line-height:100%;text-align:left}
        #templateHeader{background-color:#FFFFFF;border-bottom:0}
        .headerContent{color:#202020;font-family:Arial;font-size:34px;font-weight:bold;line-height:100%;text-align:center;vertical-align:middle;padding:0}
        #headerImage{height:auto;max-width:600px!important}
        #templateContainer,.bodyContent{background-color:#FFFFFF}
        .bodyContent div{color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left}
        .bodyContent img{display:inline;height:auto}
        #templateFooter{background-color:#FFFFFF;border-top:0}
        .footerContent div{color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:left}
        .disclaimer p {color:#707070;font-family:Arial;font-size:12px;line-height:125%;}
        .footerContent img{display:inline}
        #social{background-color:#FAFAFA;border:0}
        #utility{background-color:#FFFFFF;border:0}
        #monkeyRewards img{max-width:190px}
        body,#backgroundTable{background-color:#FAFAFA}
        .preheaderContent div a:link,.preheaderContent div a:visited,/* Yahoo! Mail Override */ .preheaderContent div a .yshortcuts /* Yahoo! Mail Override */,.headerContent a:link,.headerContent a:visited,/* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */,.bodyContent div a:link,.bodyContent div a:visited,/* Yahoo! Mail Override */ .bodyContent div a .yshortcuts /* Yahoo! Mail Override */,.footerContent div a:link,.footerContent div a:visited,/* Yahoo! Mail Override */ .footerContent div a .yshortcuts /* Yahoo! Mail Override */{color:#336699;font-weight:normal;text-decoration:underline}
        #social div,#utility div{text-align:center}

        span.purple {color:#882981;}

    </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
        <tr>
            <td align="center" valign="top">

                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                    <tr>
                        <td align="center" valign="top">
                            <!-- // Begin Template Header \\ -->
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                <tr>
                                    <td class="headerContent">

                                        <!-- // Begin Module: Standard Header Image \\ -->
                                        <img src="{{ asseturl }}/email_header_FR.png" style="max-width:600px;" id="headerImage campaign-icon" class="header_image" />
                                        <!-- // End Module: Standard Header Image \\ -->

                                    </td>
                                </tr>
                            </table>
                            <!-- // End Template Header \\ -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <!-- // Begin Template Body \\ -->
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                <tr>
                                    <td valign="top" class="bodyContent">

                                        <!-- // Begin Module: Standard Content \\ -->
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                            <tr>
                                                <td valign="top">
                                                    <div class="std_content">
                                                        <h2 class="h2">Bonjour <span class="purple title">{{ entrant.firstName }}</span>,</h2>
                                                        <strong>F&eacute;licitations!</strong> Vous &ecirc;tes la personne gagnante du <span class="purple body">{{ date }}</span>
                                                        <br />

                                                        <p>Vous devez r&eacute;pondre correctement &agrave; la question r&eacute;glementaire suivante et renvoyer ce courriel dans les 15 prochains jours pour recevoir votre prix :</p>
                                                        <h3><span class="purple body">{{ question }}</span></h3>

                                                        <p>Votre ensemble de produits vous sera exp&eacute;di&eacute; par Purolator. Veuillez r&eacute;pondre &agrave; ce courriel en fournissant votre adresse postale et votre num&eacute;ro de t&eacute;l&eacute;phone. Apr&egrave;s confirmation, un courriel vous sera envoy&eacute; contenant votre num&eacute;ro de suivi Purolator.<p>

                                                    </div>

                                                </td>
                                            </tr>
                                        </table>
                                        <!-- // End Module: Standard Content \\ -->

                                    </td>
                                </tr>
                            </table>
                            <!-- // End Template Body \\ -->
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <!-- // Begin Template Footer \\ -->
                            <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                                <tr>
                                    <td valign="top" class="footerContent">

                                        <!-- // Begin Module: Standard Footer \\ -->
                                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                            <tr>

                                                <td valign="middle" id="social" width="20%">
                                                    <div class="std_social">
                                                        &nbsp;<a href="http://www.twitter.com/cetaphil_ca" target="_blank"><img src="{{ asseturl }}/twitter.png" alt="Twitter" title="Twitter"></a>&nbsp;&nbsp;<a href="http://www.facebook.com/cetaphil.ca" target="_blank"><img src="{{ asseturl }}/facebook.png" alt="Facebook" title="Facebook"></a>&nbsp;
                                                        <br />
                                                    </div>
                                                </td>

                                                <td valign="middle" id="connect" width="80%">
                                                    <h4><span class="purple body">Restez en contact avec Cetaphil pour des renseignements sur les produits, des conseils de soins pour la peau et bien plus!</span></h4>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td valign="top" width="350" colspan="2">

                                                    <div class="disclaimer">
                                                        <p>Le prix doit &ecirc;tre accept&eacute; tel qu'il est attribu&eacute; et ne peut &ecirc;tre c&eacute;d&eacute; ni &eacute;chang&eacute;. Galderma se r&eacute;serve le droit d'&eacute;changer un prix pour un autre de valeur &eacute;gale ou sup&eacute;rieure au cas o&ugrave;, pour quelque raison que ce soit, le prix annonc&eacute; ne serait pas disponible.</p>
                                                        <p>Veuillez consulter la <a href="http://www.dermacontrol.ca/fr/privacy">politique de confidentialit&eacute;</a> du commanditaire au pour conna&icirc;tre sa politique en mati&egrave;re de protection des renseignements confidentiels des utilisateurs.</p>
                                                    </div>

                                                    <div class="std_footer">
                                                        <em>Ce concours est commandit&eacute; par :</em><br />
                                                        Galderma Canada Inc.<br/>
                                                        105 Commerce Valley Drive West, bureau 300<br/>
                                                        Thornhill ON L3T 7W3 Canada<br/>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="2" valign="middle" id="utility">
                                                    <div class="std_utility">
                                                        &nbsp;<a href="mailto:contact@cetaphil.ca">Reporter un problème</a>&nbsp;
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- // End Module: Standard Footer \\ -->
                                    </td>
                                </tr>
                            </table>
                            <!-- // End Template Footer \\ -->
                        </td>
                    </tr>
                </table>
                <br />
            </td>
        </tr>
    </table>
</center>
</body>
</html>
